<!DOCTYPE html>
<html>
<head>
    <title>Registered Users</title>
    <style>
        table {
            border-collapse: collapse;
            width: 70%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h1>Registered Users</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Password</th>
    </tr>

    {% for user in users %}
    <tr>
        <td>{{ user[0] }}</td>
        <td>{{ user[1] }}</td>
        <td>{{ user[2] }}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>